# Dependências do Node.js
node_modules/

# Arquivos de build
dist/
build/

# Logs e relatórios de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do editor e sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente e credenciais
.env
.env.local
.env.*.local

# Cache e saída temporária
.cache/
.out/
coverage/

# Arquivos do serviço PM2
pm2-log.log
pm2-runtime.log
